
<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Upload a file to check its size
      </h1>
    </header>

    <main>
      
      <form method="post" enctype="multipart/form-data" action="upload">
        <input type="file" id="myFile" name="myFile">
        <button type="submit" id="myButton" name="submit">Upload</button>
      </form>
      
    </main>


  </body>
</html>
